In [ ]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [ ]:

    with open (r'amazon web scrapper data set.csv','w',newline='',encoding='UTF8') as f:
        writer=csv.writer(f)
        writer.writerow(header)
        writer.writerow(data)

In [64]:
def check_price():
    url=('https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_19?crid=31I2N0BFGAAQA&keywords=data%2B%2Bfind%2Btshirt&qid=1646865982&sprefix=data%2B%2Bfind%2Btshirt%2Caps%2C341&sr=8-19&customId=B0752XJYNL&th=1')
    headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36", 
    "X-Amzn-Trace-Id": "Root=1-62292f7d-2cb1fc145bd4b1dd11bff49d"}
    page=requests.get(url,headers=headers)
    soup1=BeautifulSoup(page.content,'lxml')
    soup2=BeautifulSoup(soup1.prettify(),'html.parser')
    title=soup2.find(id='productTitle').get_text()
    price= soup2.find(class_="a-offscreen").get_text()
    gender=soup2.find(class_='a-text-left a-size-base').get_text().strip()
    price=price.strip()[1:]
    title=title.strip()
    import datetime
    today= datetime.date.today()
    
    import csv
    
    header =['tilte','price','gender','date']

    data=[title,price,gender,today]
    
    with open (r'amazon web scrapper data set.csv','a+',newline='',encoding='UTF8') as f:
        writer=csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(5)

In [63]:
import pandas as pd
df= pd.read_csv(r'C:\Users\TOLU\Desktop\New folder (2)\amazon web scrapper data set.csv')
print(df)

                                                title  price gender  \
0   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
1   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
2   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
3   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
4   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
5   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
6   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
7   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
8   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
9   Funny Got Data MIS Data Systems Business Analy...  16.99    Men
10  Funny Got Data MIS Data Systems Business Analy...  16.99    Men
11  Funny Got Data MIS Data Systems Business Analy...  16.99    Men
12  Funny Got Data MIS Data Systems Business Analy...  16.99    Men
13  Funny Got Data MIS Data Systems Business Analy...  16.99    Men
14  Funny Got Data MIS Data Systems Business Analy...  16.99    Men
15  Funny Got Data MIS Data Systems Business Analy...  16.99    Men
16  Funny Got Data MIS Data Systems Business Analy...  16.99    Men
17  Funny Got Data MIS Data Systems Business Analy...  16.99    Men
18  Funny Got Data MIS Data Systems Business Analy...  16.99    Men

          date
0   2022-03-10
1   2022-03-10
2   2022-03-10
3   2022-03-10
4   2022-03-10
5   2022-03-10
6   2022-03-10
7   2022-03-10
8   2022-03-10
9   2022-03-10
10  2022-03-10
11  2022-03-10
12  2022-03-11
13  2022-03-11
14  2022-03-11
15  2022-03-11
16  2022-03-11
17  2022-03-11
18  2022-03-11