In [3]:
import requests
from bs4 import BeautifulSoup
import time
import smtplib
import csv
import pandas as pd

In [5]:
#we craete two empty array profuctlinks and whsikylists
productlinks=[]
whiskylist=[]
#using the for range because we want to iterate only the first and second page to get data from
for x in range(1,2):
    url=('https://www.thewhiskyexchange.com/c/35/japanese-whisky')
    headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102"}
    baseurl=('https://www.thewhiskyexchange.com/')
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'lxml')
    soup2=BeautifulSoup(soup.prettify(),'lxml')
    #telling the complier to find all the li in whcih has class of product-grid__item
    product= soup2.find_all('li', class_="product-grid__item")
    #by using the for loop we want tpo iterate throught the product
    for item in product:
        #telling the complierr to look for all a attribute or tag in the html
        #the use of  href=true implies its a link
        for link in item.find_all('a',href=True):
            #to get the specific inforation of each item we added the base url to the link gooten from tlooping tru item so can can directy have acess to the rach content
            productlinks.append(baseurl +link['href'])

In [6]:
#the end result of addding the base url to the a link
for link in productlinks:
    print(link)

https://www.thewhiskyexchange.com//p/29388/suntory-hibiki-harmony
https://www.thewhiskyexchange.com//p/23772/yamazaki-distillers-reserve
https://www.thewhiskyexchange.com//p/23928/nikka-coffey-grain-whisky
https://www.thewhiskyexchange.com//p/23771/hakushu-distillers-reserve
https://www.thewhiskyexchange.com//p/36362/suntory-toki
https://www.thewhiskyexchange.com//p/32761/yoichi-single-malt
https://www.thewhiskyexchange.com//p/37317/the-chita-whisky
https://www.thewhiskyexchange.com//p/45366/kaiyo-mizunara-oak
https://www.thewhiskyexchange.com//p/2922/hakushu-12-year-old
https://www.thewhiskyexchange.com//p/32762/miyagikyo-single-malt
https://www.thewhiskyexchange.com//p/31531/akashi-single-malt-whisky
https://www.thewhiskyexchange.com//p/64380/shizuoka-single-malt-prologue-k-and-prologue-w-2x20cl
https://www.thewhiskyexchange.com//p/45367/kaiyo-mizunara-oak-cask-strength
https://www.thewhiskyexchange.com//p/63405/the-house-of-suntory-triology-pack-3x20cl
https://www.thewhiskyexchange.com//p/37325/suntory-torys-classic
https://www.thewhiskyexchange.com//p/10132/hakushu-10-year-old
https://www.thewhiskyexchange.com//p/34461/akashi-5-year-old-sherry-cask-half-litre
https://www.thewhiskyexchange.com//p/52590/kaiyo-peated-mizunara-oak
https://www.thewhiskyexchange.com//p/64652/nikka-coffey-grain-whisky-show-package-2-sunday-tickets
https://www.thewhiskyexchange.com//p/64651/nikka-coffey-grain-whisky-show-package-1-sunday-ticket
https://www.thewhiskyexchange.com//p/57939/chichibu-2009-10-year-old-artist-international-10th-anniversary
https://www.thewhiskyexchange.com//p/25880/hanyu-1985-the-joker-monochrome-label

In [32]:
def itemlist():
    for link in productlinks:
        r=requests.get(link,headers=headers)
        soup2=BeautifulSoup(r.content,'lxml')
        
        try:
            rating=soup2.find('div',class_='review-overview').text.strip()
            name=soup2.find('h1',class_='product-main__name').text.strip()
            price=soup2.find('p',class_='product-action__price').text.strip()[1:]
        except:
            rating='no rating'
            name='no name'
            price='no price'
           
            
       
        whisky={'name':name,'price':price,'rating':rating,}
        whiskylist.append(whisky)
        return pd.DataFrame(whiskylist)

In [39]:
df=itemlist()

In [40]:
df

,name,price,rating
0,Suntory Hibiki Harmony,76.95,4\n\n\n(56 Reviews)
1,Yamazaki Distiller's Reserve,72.95,4.5\n\n\n(54 Reviews)
2,Nikka Coffey Grain Whisky,57.95,4.5\n\n\n(51 Reviews)
3,Hakushu Distiller's Reserve,70.95,4.5\n\n\n(28 Reviews)
4,Suntory Toki,33.95,4\n\n\n(33 Reviews)
...,...,...,...
115,no name,no price,no rating
116,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",5\n\n\n(1 Review)
117,no name,no price,no rating
118,Suntory Hibiki Harmony,76.95,4\n\n\n(56 Reviews)
119,Suntory Hibiki Harmony,76.95,4\n\n\n(56 Reviews)

In [43]:
sum(df.duplicated())#to check how manny duplicates

102

In [46]:
df.drop_duplicates(inplace=True)# to drop duplicates

In [47]:
df

,name,price,rating
0,Suntory Hibiki Harmony,76.95,4\n\n\n(56 Reviews)
1,Yamazaki Distiller's Reserve,72.95,4.5\n\n\n(54 Reviews)
2,Nikka Coffey Grain Whisky,57.95,4.5\n\n\n(51 Reviews)
3,Hakushu Distiller's Reserve,70.95,4.5\n\n\n(28 Reviews)
4,Suntory Toki,33.95,4\n\n\n(33 Reviews)
5,Yoichi Single Malt,77.75,4.5\n\n\n(9 Reviews)
6,The Chita Whisky,51.95,4.5\n\n\n(41 Reviews)
7,Kaiyo Mizunara Oak,82.95,5\n\n\n(2 Reviews)
8,Hakushu 12 Year Old,185,4.5\n\n\n(32 Reviews)
9,Miyagikyo Single Malt,78.45,4.5\n\n\n(9 Reviews)
10,Akashi Single Malt Whisky,66.75,5\n\n\n(2 Reviews)
11,no name,no price,no rating
12,Kaiyo Mizunara Oak Cask Strength,110,5\n\n\n(3 Reviews)
14,Suntory Torys Classic,30.45,3.5\n\n\n(2 Reviews)
15,Hakushu 10 Year Old,375,5\n\n\n(1 Review)
16,Akashi 5 Year Old\nSherry Cask Half Litre,150,5\n\n\n(2 Reviews)
20,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",5\n \n\n(1 Review)
42,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",5\n\n\n(1 Review)

In [48]:
df[['rating', 'review']] = df['rating'].str.split('(', expand=True)
# display the dataframe

In [49]:
df

,name,price,rating,review
0,Suntory Hibiki Harmony,76.95,4\n\n\n,56 Reviews)
1,Yamazaki Distiller's Reserve,72.95,4.5\n\n\n,54 Reviews)
2,Nikka Coffey Grain Whisky,57.95,4.5\n\n\n,51 Reviews)
3,Hakushu Distiller's Reserve,70.95,4.5\n\n\n,28 Reviews)
4,Suntory Toki,33.95,4\n\n\n,33 Reviews)
5,Yoichi Single Malt,77.75,4.5\n\n\n,9 Reviews)
6,The Chita Whisky,51.95,4.5\n\n\n,41 Reviews)
7,Kaiyo Mizunara Oak,82.95,5\n\n\n,2 Reviews)
8,Hakushu 12 Year Old,185,4.5\n\n\n,32 Reviews)
9,Miyagikyo Single Malt,78.45,4.5\n\n\n,9 Reviews)
10,Akashi Single Malt Whisky,66.75,5\n\n\n,2 Reviews)
11,no name,no price,no rating,None
12,Kaiyo Mizunara Oak Cask Strength,110,5\n\n\n,3 Reviews)
14,Suntory Torys Classic,30.45,3.5\n\n\n,2 Reviews)
15,Hakushu 10 Year Old,375,5\n\n\n,1 Review)
16,Akashi 5 Year Old\nSherry Cask Half Litre,150,5\n\n\n,2 Reviews)
20,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",5\n \n\n,1 Review)
42,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",5\n\n\n,1 Review)

In [61]:
df['rating2']=df['rating'].str.split("\n",1)[0][0] #to split the rating at the first occurrence fo the the string

In [60]:
df

,name,price,rating,review,rating2
0,Suntory Hibiki Harmony,76.95,4\n\n\n,56 Reviews),4
1,Yamazaki Distiller's Reserve,72.95,4.5\n\n\n,54 Reviews),4
2,Nikka Coffey Grain Whisky,57.95,4.5\n\n\n,51 Reviews),4
3,Hakushu Distiller's Reserve,70.95,4.5\n\n\n,28 Reviews),4
4,Suntory Toki,33.95,4\n\n\n,33 Reviews),4
5,Yoichi Single Malt,77.75,4.5\n\n\n,9 Reviews),4
6,The Chita Whisky,51.95,4.5\n\n\n,41 Reviews),4
7,Kaiyo Mizunara Oak,82.95,5\n\n\n,2 Reviews),4
8,Hakushu 12 Year Old,185,4.5\n\n\n,32 Reviews),4
9,Miyagikyo Single Malt,78.45,4.5\n\n\n,9 Reviews),4
10,Akashi Single Malt Whisky,66.75,5\n\n\n,2 Reviews),4
11,no name,no price,no rating,None,4
12,Kaiyo Mizunara Oak Cask Strength,110,5\n\n\n,3 Reviews),4
14,Suntory Torys Classic,30.45,3.5\n\n\n,2 Reviews),4
15,Hakushu 10 Year Old,375,5\n\n\n,1 Review),4
16,Akashi 5 Year Old\nSherry Cask Half Litre,150,5\n\n\n,2 Reviews),4
20,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",5\n \n\n,1 Review),4
42,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",5\n\n\n,1 Review),4

In [64]:
df.drop('rating' ,axis=1, inplace=True)# to drop the rating column

In [73]:
df['review']=df['review'].str.replace(')',' ' )

C:\Users\TOLU\AppData\Local\Temp/ipykernel_11484/3298124884.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['review']=df['review'].str.replace(')',' ' )

In [74]:
df

,name,price,review,rating2
0,Suntory Hibiki Harmony,76.95,56 Reviews,4
1,Yamazaki Distiller's Reserve,72.95,54 Reviews,4
2,Nikka Coffey Grain Whisky,57.95,51 Reviews,4
3,Hakushu Distiller's Reserve,70.95,28 Reviews,4
4,Suntory Toki,33.95,33 Reviews,4
5,Yoichi Single Malt,77.75,9 Reviews,4
6,The Chita Whisky,51.95,41 Reviews,4
7,Kaiyo Mizunara Oak,82.95,2 Reviews,4
8,Hakushu 12 Year Old,185,32 Reviews,4
9,Miyagikyo Single Malt,78.45,9 Reviews,4
10,Akashi Single Malt Whisky,66.75,2 Reviews,4
11,no name,no price,None,4
12,Kaiyo Mizunara Oak Cask Strength,110,3 Reviews,4
14,Suntory Torys Classic,30.45,2 Reviews,4
15,Hakushu 10 Year Old,375,1 Review,4
16,Akashi 5 Year Old\nSherry Cask Half Litre,150,2 Reviews,4
20,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",1 Review,4
42,Chichibu 2009\n10 Year Old Artist Internationa...,"3,500",1 Review,4

In [76]:
df.to_csv('japanesewhiskylist.csv',index=False)#to save as a csv file